@model IEnumerable<Sprint16.Models.Customer>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SortViewModel
@addTagHelper *, MvcApp

@{
    ViewData["Title"] = "Customer";
}

<style>
    td, th {
        padding: 0 13px 0 0;
    }

    .glyphicon {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin: 0 5px;
    }

    .glyphicon-chevron-down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .glyphicon-chevron-up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
</style>
<h1>Customer</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fname)
            </th>
            <th>
                <sort-header action="Index" up="@Model.SortViewModel.Up"
                             current="@Model.SortViewModel.Current" property="@Model.SortViewModel.LNameSort">
                    LName
                </sort-header>
                @*@Html.DisplayNameFor(model => model.Lname)*@
            </th>
            <th>
                <sort-header action="Index" up="@Model.SortViewModel.Up"
                             current="@Model.SortViewModel.Current" property="@Model.SortViewModel.AdressSort">
                    Adress
                </sort-header>
              @*  @Html.DisplayNameFor(model => model.Adress)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dicsount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dicsount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
